name: Django CI/CD

on:
  push:
    branches: ["feat/accounts-app"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    
      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/home/ubuntu/django-app"

      # -----------------------
      # 6. SSH into EC2 and Deploy
      # -----------------------
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/django-app


            source venv/bin/activate

            pip install -r requirements.txt

            python manage.py migrate

            python manage.py collectstatic --no-input

            sudo systemctl restart gunicorn
            sudo systemctl restart nginx

